*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-family: Roboto, sans-serif;
  height: 100vh;
}

.links ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

a.link {
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  background-color: #1F2937;
  color: white;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #1F2937;
  color: white;
}

.container.preview {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 200px;
  gap: 80px;
  background-color: #1F2937;
}

.container.preview .info {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  gap: 10px;
}

.container.preview .info > .title {
  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8;
}

.container.preview .info > .description,
.header .link {
  font-size: 18px;
  color: #E5E7EB;
}

.container.preview > img {
  flex: 2 1 auto;
  max-width: 600px;
  height: 300px;
  background-color: grey;
}

.container.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 480px;
}

.container.cards > .title {
  font-size: 36px;
  color: #1F2937;
  font-weight: 900;
  padding: 40px;
}

.container.cards > .cards {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0 100px;
  gap: 48px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #555;
}

.card > img {
  flex: auto;
  width: 100%;
  height: 200px;
  max-width: 200px;
  border: 4px solid #3882F6;
  border-radius: 12px;
}

.card > .description {
  text-align: center;
  padding: 4px;
  max-width: 200px;
}

.header > .title {
  font-size: 24px;
  color: #F9FAF8;
}

.container.text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 80px 22%;
  background-color: #E5E7EB;
  color: #1F2937;
}

.container.text > .text {
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
  max-width: fit-content;
}

.container.text > .person {
  font-size: 20px;
  align-self: flex-end;
  margin-right: 80px;
  font-weight: 900;
}

.container.sign-up {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px;
}

.container.sign-up > .sign-up {
  display: flex;
  align-items: center;
  gap: 120px;
  padding: 30px 50px;
  background-color: #3882F6;
  border-radius: 10px;
}

.container.sign-up > .sign-up > .content {
  color: #E5E7EB;
}

.content > .title {
  font-weight: 900;
}

.content > .description {
  font-weight: 300;
}

button.sign-up {
  background-color: #3882F6;
  border: 2px solid #E5E7EB;
  color: #E5E7EB;
  font-weight: 600;
  padding: 6px 32px;
  width: fit-content;
  height: fit-content;
  border-radius: 24px;
}